@model List<Tur>
@{
    ViewBag.Title = "TurListele";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Tür Ekleme Paneli", "TurAdd")
    </div>
</div>

<h3>Tür Listesi</h3>

<table class="table">
    <tr>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Sil / Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Ad</td>
            <td>@item.Aciklama</td>
          
            <td>@Html.ActionLink("Sil", "TurDelete", new { id = item.Id }, new { @class = "btn btn-danger glyphicon glyphicon-remove" }) &nbsp; @Html.ActionLink("Güncelle", "TurUpdate", new { id = item.Id }, new { @class = "btn btn-warning  glyphicon glyphicon-user " })</td>
        </tr>
    }
</table>

