@model TurVM
<div class="container">
    <div class="btn-toolbar">
        <div class="btn-group btn-group-sm">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    @Html.ActionLink("A", "HarfeGoreHayvanCinsGetir", new { ad = "A", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "A", @class = "page-link" })
                    @Html.ActionLink("B", "HarfeGoreHayvanCinsGetir", new { ad = "B", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "B", @class = "page-link" })
                    @Html.ActionLink("C", "HarfeGoreHayvanCinsGetir", new { ad = "C", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "C", @class = "page-link" })
                    @Html.ActionLink("D", "HarfeGoreHayvanCinsGetir", new { ad = "D", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "D", @class = "page-link" })
                    @Html.ActionLink("E", "HarfeGoreHayvanCinsGetir", new { ad = "E", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "E", @class = "page-link" })
                    @Html.ActionLink("F", "HarfeGoreHayvanCinsGetir", new { ad = "F", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "F", @class = "page-link" })
                    @Html.ActionLink("G", "HarfeGoreHayvanCinsGetir", new { ad = "G", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "G", @class = "page-link" })
                    @Html.ActionLink("H", "HarfeGoreHayvanCinsGetir", new { ad = "H", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "H", @class = "page-link" })
                    @Html.ActionLink("J", "HarfeGoreHayvanCinsGetir", new { ad = "J", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "J", @class = "page-link" })
                    @Html.ActionLink("K", "HarfeGoreHayvanCinsGetir", new { ad = "K", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "K", @class = "page-link" })
                    @Html.ActionLink("L", "HarfeGoreHayvanCinsGetir", new { ad = "L", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "L", @class = "page-link" })
                    @Html.ActionLink("N", "HarfeGoreHayvanCinsGetir", new { ad = "N", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "N", @class = "page-link" })
                    @Html.ActionLink("O", "HarfeGoreHayvanCinsGetir", new { ad = "O", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "O", @class = "page-link" })
                    @Html.ActionLink("P", "HarfeGoreHayvanCinsGetir", new { ad = "P", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "P", @class = "page-link" })
                    @Html.ActionLink("R", "HarfeGoreHayvanCinsGetir", new { ad = "R", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "R", @class = "page-link" })
                    @Html.ActionLink("S", "HarfeGoreHayvanCinsGetir", new { ad = "S", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "S", @class = "page-link" })
                    @Html.ActionLink("T", "HarfeGoreHayvanCinsGetir", new { ad = "T", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "T", @class = "page-link" })
                    @Html.ActionLink("U", "HarfeGoreHayvanCinsGetir", new { ad = "U", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "U", @class = "page-link" })
                    @Html.ActionLink("V", "HarfeGoreHayvanCinsGetir", new { ad = "V", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "V", @class = "page-link" })
                    @Html.ActionLink("W", "HarfeGoreHayvanCinsGetir", new { ad = "W", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "W", @class = "page-link" })
                    @Html.ActionLink("X", "HarfeGoreHayvanCinsGetir", new { ad = "X", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "X", @class = "page-link" })
                    @Html.ActionLink("Y", "HarfeGoreHayvanCinsGetir", new { ad = "Y", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "Y", @class = "page-link" })
                    @Html.ActionLink("Z", "HarfeGoreHayvanCinsGetir", new { ad = "Z", turId = Model.Cinsler.FirstOrDefault().Id }, new { id = "Z", @class = "page-link" })
                </ul>
            </nav>
        </div>
    </div>
</div>



